@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Crafts App</h1>
    
</div>
<p>Making crafts is a delightful and creative endeavor that allows individuals to unleash their imagination and produce unique, handcrafted items. Whether it's creating intricate paper origami, fashioning beautiful jewelry, or even constructing intricate models from simple materials, the process of crafting offers a therapeutic escape from the hustle and bustle of everyday life. Crafters find solace in the rhythmic motions of cutting, gluing, and shaping materials, as well as the satisfaction of transforming raw materials into something beautiful and functional. Crafting also fosters a sense of accomplishment, as completed projects serve as tangible reminders of one's creativity and skill. Beyond the personal rewards, crafting often brings people together, fostering a sense of community through workshops, crafting circles, and the sharing of knowledge and techniques. Ultimately, making crafts is a delightful and fulfilling pursuit that allows individuals to express themselves while bringing joy to both creators and recipients of these handmade treasures.</p>